<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>
	
	<div class="container">
	
		<img src="" class="image1" th:src="@{images/img1.jpg}" alt="" />
	
		<h1>Adding CSS, JavaScript and image in thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis earum sed nam dolorum quaerat magni.</p>
	</div>
	
	<script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>